CLIENT_URL=http://localhost:5173

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=emsdb
DB_USER=emsuser
DB_PASSWORD=emspassword


PORT=5500
NODE_ENV=development


JWT_SECRET= SUPERSECRETKEY123@!
JWT_EXPIRES_IN=7
